<!DOCTYPE html>
<html lang="en">
<head>
	<title>Shoping Cart</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css"/>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css"/>
	<link rel="stylesheet" type="text/css" href="/css/main.css"/>
<!--===============================================================================================-->
</head>
<body class="animsition">
	
<div th:replace="common/headertemplate :: bookstore-header" />

	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="/images/item-cart-01.jpg" alt="IMG"/>
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="/images/item-cart-02.jpg" alt="IMG"/>
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="/images/item-cart-03.jpg" alt="IMG"/>
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a th:href="@{/shoping-cart}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a th:href="@{/shoping-cart}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Shoping Cart -->
	<div>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
					<!-- start of collapse -->
					<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          List of Items
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
      		<div>
			<div class="alert alert-success" role="alert">
				<h3>
					<i class="fa fa-check" aria-hidden="true"
						style="color: limegreen;"></i> Thank you, your order has been
					placed.
				</h3>
				<h4>
					The estimated delivery date is <span
						th:text="${estimatedDeliveryDate}"></span>
				</h4>
			</div>
			
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Products</th>
			      <th scope="col">Price</th>
			      <th scope="col">Qty</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="cartItem : ${cartItemList}">
			      <th scope="row">
			      <a th:href="@{/bookDetail(id=${cartItem.book.id})}"> <img
								class="img-responsive shelf-book"
								th:src="@{/image/book/}+${cartItem.book.id}+'.png'"
								style="width: 70px;" />
					</a>
					</th>
			      <td>
      				<a th:href="@{/bookDetail?id=}+${cartItem.book.id}"><h4
							th:text="${cartItem.book.title}"></h4></a>
			      </td>
			      <td>
	      			<h5 style="color: #db3208; font-size: large;">
						$<span th:text="${cartItem.book.ourPrice}"
							th:style="${cartItem.book.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
					</h5>
			      </td>
			      <td>
			      <h5 style="font-size: large;" th:text="${cartItem.qty}"></h5>
			      </td>
			    </tr>
			  </tbody>
			</table>
				<br />
			</div>
      </div>
    </div>
  </div>
</div>
					<!-- end of collapse -->
					</div>
				</div>
			</div>
		</div>
	</div>
		
<div th:replace="common/headertemplate :: bookstore-footer" />

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/select2/select2.min.js}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script th:src="@{/js/main.js}"></script>
	<script>
	$(document).ready(function() {
		$("#theSameAsShippingAddress").on('click', checkBillingAddress);
		$("#" + "shoppingCartPage").addClass('active-menu');
 		$(".cartItemQty").on('change', function(){
			var id=this.id;
			$('#update-item-'+id).css('display', 'inline-block');
		}); 
	}); 
	
	function checkBillingAddress() {
		if($("#theSameAsShippingAddress").is(":checked")) {
			$(".billingAddress").prop("disabled", true);
		} else {
			$(".billingAddress").prop("disabled", false);
		}
	}
	
	</script>

</body>
</html>