<!DOCTYPE html>
<html lang="en">
<head>
	<title>User Profile</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css"/>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css"/>
	<link rel="stylesheet" type="text/css" href="/css/main.css"/>
<!--===============================================================================================-->
</head>
<body class="animsition">

<div th:replace="common/headertemplate :: bookstore-header" />

	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="/images/item-cart-01.jpg" alt="IMG"/>
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="/images/item-cart-02.jpg" alt="IMG"/>
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="/images/item-cart-03.jpg" alt="IMG"/>
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a th:href="@{/shoping-cart}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a th:href="@{/shoping-cart}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-contact.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			<span th:text="${#strings.toUpperCase(user.username)}"></span>
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="flex-w flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
				
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
				  <li class="nav-item">
				    <a class="nav-link" th:classappend="${classActiveEdit}? 'active'" id="pills-edit-tab" data-toggle="pill" href="#pills-edit" role="tab" aria-controls="pills-edit" aria-selected="true">Edit</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" th:classappend="${classActiveOrders}? 'active'" id="pills-orders-tab" data-toggle="pill" href="#pills-orders" role="tab" aria-controls="pills-orders" aria-selected="false">Orders</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" th:classappend="${classActiveBilling}? 'active'" id="pills-billing-tab" data-toggle="pill" href="#pills-billing" role="tab" aria-controls="pills-billing" aria-selected="false">Billing</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" th:classappend="${classActiveShipping}? 'active'" id="pills-shipping-tab" data-toggle="pill" href="#pills-shipping" role="tab" aria-controls="pills-shipping" aria-selected="false">Shipping</a>
				  </li>
				</ul>
				<div class="tab-content" id="pills-tabContent">
				  <div class="tab-pane fade" id="pills-edit" th:classappend="${classActiveEdit}? 'show active'" role="tabpanel" aria-labelledby="pills-edit-tab" >
					<div th:if="${incorrectPassword}" class="alert alert-danger" role="alert">
					  Incorrect Password!
					</div>
					
					<div th:if="${updateSuccess}" class="alert alert-success" role="alert">
					  Update Success!
					</div>

 					<form th:action="@{/updateUserInfoPage}" method="post">
 					<input type="hidden" name="id" th:value="${user.id}" />
 					  <div class="row">
					    <div class="col">
					      <label for="formGroupExampleInput">First Name</label>
					      <input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.firstName}"/>
					    </div>
					    <div class="col">
					      <label for="formGroupExampleInput">Last Name</label>
					      <input type="text" class="form-control" id="lastName" name="lastName" th:value="${user.lastName}"/>
					    </div>
					  </div>
					  <br/>
					  <div class="form-group">
					    <label for="formGroupExampleInput">Username</label>
					    <input type="text" class="form-control" id="userName" name="username" th:value="${user.username}"/>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Current Password</label>
					    <input type="password" class="form-control" id="currentPassword" name="password" th:value="${currentPassword}"/>
					  </div>
					  <div class="form-group">
					    <label for="exampleFormControlInput1">Email address</label>
					    <input type="email" class="form-control" id="email" name="email" th:value="${user.email}"/>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Password</label>
					    <input type="password" class="form-control" id="txtNewPassword" name="newPassword" placeholder="Password"/>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Confirm Password</label>
					    <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Password"/>
					  </div>
					  
					  <button id="updateUserInfoButton" type="submit" class="btn btn-primary">Save All</button>
					</form>
				  </div>
				  <div class="tab-pane fade" id="pills-orders" th:classappend="${classActiveOrders}? 'show active'" role="tabpanel" aria-labelledby="pills-orders-tab">
	  						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">Order Date</th>
									<th scope="col">Order Number</th>
									<th scope="col">Total</th>
									<th scope="col" >Status</th>
								</tr>
							</thead>
							<tbody>
								<tr scope="row" th:each="order : ${orderList}">
									<td><a th:href="@{/orderDetailPage(id=${order.id})}"><span
											th:text="${order.orderDate}"></span></a></td>
									<td data-th-text="${order.id}"></td>
									<td data-th-text="${order.orderTotal}"></td>
									<td data-th-text="${order.orderStatus}"></td>
								</tr>
							</tbody>
						</table>
				
 				  		<div th:if="${displayOrderDetail}">
 				  		<div class="card">
						  <div class="card-body">
						    <h5 class="card-title"><strong>Order Detail for Purchase #<span th:text="${order.id}"></span></strong></h5>
						  </div>
						</div>
						
						<div class="card">
						  <div class="card-body">
						    <h5 class="card-title"><strong>Billing Details</strong></h5>
							<span
								th:text="${order.billingAddress.billingAddressName}"></span><br />
							<span
								th:text="${order.billingAddress.billingAddressStreet1}+' '+${order.billingAddress.billingAddressStreet2}"></span><br />
							<span
								th:text="${order.billingAddress.billingAddressCity}"></span><br />
							<span
								th:text="${order.billingAddress.billingAddressState}"></span><br />
							<span
								th:text="${order.billingAddress.billingAddressZipcode}"></span><br />
						  </div>
						</div>
						
						<div class="card">
						  <div class="card-body">
						    <h5 class="card-title"><strong>Payment Information</strong></h5>
								<span th:text="${order.payment.holderName}">Card
									Name</span><br /> <span th:text="${order.payment.cardNumber}">Card
									Number</span><br /> <span>Exp Date:</span><span
									th:text="${order.payment.expiryMonth}"></span>/<span
									th:text="${order.payment.expiryYear}"></span><br />
						  </div>
						</div>
						
						<div class="card">
						  <div class="card-body">
						    <h5 class="card-title"><strong>Shipping Details</strong></h5>
								<span
									th:text="${order.shippingAddress.shippingAddressName}"></span><br />
								<span
									th:text="${order.shippingAddress.shippingAddressStreet1}+' '+${order.shippingAddress.shippingAddressStreet2}"></span><br />
								<span
									th:text="${order.shippingAddress.shippingAddressCity}"></span><br />
								<span
									th:text="${order.shippingAddress.shippingAddressState}"></span><br />
								<span
									th:text="${order.shippingAddress.shippingAddressZipcode}"></span><br />
						  </div>
						</div>
						
						<table class="table table-bordered">
							<thead>
								<tr>
									<td><strong>Item Name</strong></td>
									<td class="text-center"><strong>Item
											Price</strong></td>
									<td class="text-center"><strong>Item
											Quantity</strong></td>
									<td class="text-right"><strong>Total</strong></td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cartItem : ${cartItemList}">
									<td data-th-text="${cartItem.book.title}"></td>
									<td class="text-center"
										data-th-text="${cartItem.book.ourPrice}"></td>
									<td class="text-center" data-th-text="${cartItem.qty}"></td>
									<td class="text-center"
										data-th-text="${cartItem.subtotal}"></td>
								</tr>
								<tr>
									<td class="highrow"></td>
									<td class="highrow"></td>
									<td class="highrow text-center"><strong>Subtotal</strong></td>
									<td class="highrow text-right"
										data-th-text="${order.orderTotal}"></td>
								</tr>
								<tr>
									<td class="emptyrow"></td>
									<td class="emptyrow"></td>
									<td class="emptyrow text-center"><strong>Tax</strong></td>
									<td class="emptyrow text-right"
										data-th-text="${#numbers.formatDecimal(order.orderTotal*0.06,0,2)}"></td>
								</tr>
								<tr>
									<td class="emptyrow"><i
										class="fa fa-barcode iconbig"></i></td>
									<td class="emptyrow"></td>
									<td class="emptyrow text-center"><strong>Total</strong></td>
									<td
										th:with="total=${order.orderTotal+order.orderTotal*0.06}"
										data-th-text="${#numbers.formatDecimal(total, 0, 2)}"
										class="emptyrow text-right"></td>
								</tr>
							</tbody>
						</table>
						</div> 
				  </div>
				  <div class="tab-pane fade" id="pills-billing" th:classappend="${classActiveBilling}? 'show active'" role="tabpanel" aria-labelledby="pills-billing-tab">
					<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a th:href="@{/listOfCreditCardsPage}" th:style="${listOfCreditCards}? 'color:black'">List of Credit Cards</a></li>
					    <li class="breadcrumb-item"><a th:href="@{/addNewCreditCardPage}" th:style="${addNewCreditCard}? 'color:black'">Add(Update) Credit Card</a></li>
					    <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
					  </ol>
					</nav>
					
					<div th:if="${listOfCreditCards}">
					<div th:if="${updateUserPaymentInfo}" class="alert alert-success" role="alert">
					  User Payment Info updated.
					</div>
					<div th:if="${deleteUserPaymentInfo}" class="alert alert-warning" role="alert">
					  User Payment Info deleted.
					</div>
					<form th:action="@{/setDefaultPaymentPage}" method="post">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Default</th>
									<th>Credit Card</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="userPayment : ${userPaymentList}">
									<td><input type="radio" name="defaultUserPaymentId"
										th:value="${userPayment.id}"
										th:checked="${userPayment.defaultPayment}" /></td>
									<td th:text="${userPayment.cardName}"></td>
									<td><a
										th:href="@{/updateCreditCardPage(id=${userPayment.id})}"><i
											class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a
										th:href="@{/removeCreditCardPage(id=${userPayment.id})}"><i
											class="fa fa-times"></i></a></td>
								</tr>
							</tbody>
						</table>
						<button class="btn btn-primary" type="submit">Save</button>
					</form>
				</div>
					
					<div th:if="${addNewCreditCard}">
					<form th:action="@{addNewCreditCardPage}" method="post">	
					<input hidden="hidden" name="id" th:value="${userPayment.id}" />				
 					  <div class="row">
					    <div class="col">
					      <label for="formGroupExampleInput">Card Name</label>
							<input type="text" class="form-control" id="cardName"
								placeholder="Give a name for your Card" th:name="cardName"
								required="required" th:value="${userPayment.cardName}" />
					    </div>
					    <div class="col">
					      <label for="formGroupExampleInput">Name</label>
							<input type="text" class="form-control" id="billingName"
								placeholder="Receiver Name" th:name="userBillingName"
								required="required"
								th:value="${userBilling.userBillingName}" />
					    </div>
					  </div>
					  <br/>
					  <div class="form-group">
					    <label for="formGroupExampleInput">Street Address</label>
							<input type="text" class="form-control" id="billingAddress"
							placeholder="Street Address 1" th:name="userBillingStreet1"
							required="required"
							th:value="${userBilling.userBillingStreet1}" /> 
							<input type="text" class="form-control" id="billingAddress"
							placeholder="Street Address 2" th:name="userBillingStreet2"
							th:value="${userBilling.userBillingStreet2}" />
					  </div>
					  <div class="form-group">
					    <label for="formGroupExampleInput">City</label>
						<input type="text" class="form-control" id="billingCity"
							placeholder="Billing city" th:name="userBillingCity"
							required="required"
							th:value="${userBilling.userBillingCity}" />
					  </div>
					   <div class="form-group">
						    <label for="billingState">State</label>
						    <select id="billingState" class="form-control"
							th:name="userBillingState" th:value="${userBilling.userBillingState}"
							required="required">
							<option value="" disabled="disabled">Please select an option</option>
							<option th:each="state : ${stateList}" th:text="${state}" th:selected="(${userBilling.userBillingState}==${state})"></option>
						    </select>
						</div>
					 <div class="form-group">
					    <label for="formGroupExampleInput">PostCode</label>
 							<input type="text" class="form-control" id="billingZipcode"
								placeholder="Billing Postcode"
								th:name="userBillingZipcode" required="required"
								th:value="${userBilling.userBillingZipcode}" />
					  </div>
					  
 					<hr />
					<div class="form-group">
						<h4>Credit Card Information</h4>
					</div>
					<img src="/image/creditcard.png" class="img-responsive" /><br /><br />
					<div class="form-group">
					    <label for="billingState">Select Card Type</label>
					    <select class="form-control" id="cardType" th:name="type" th:value="${userPayment.type}">
							<option value="visa">Visa</option>
							<option value="mastercard">Mastercard</option>
							<option value="discover">Discover</option>
							<option value="amex">American Express</option>
					    </select>
					</div>
					<div class="form-group">
					    <label for="formGroupExampleInput">Card Holder Name</label>
					    <input type="text" class="form-control" id="cardHolder"
							required="required" placeHolder="Card Holder Name"
							th:name="holderName" th:value="${userPayment.holderName}" />
					 </div>
					<div class="form-group">
						<label for="cardNumber">* Card Number:</label>
						<div class="input-group">
							<input type="tel" class="form-control" id="cardNumber"
								required="required" placeHolder="Valid Card Number"
								th:name="cardNumber"
								th:value="${userPayment.cardNumber}" /> <span
								class="input-group-addon"><i
								class="fa fa-credit-card" aria-hidden="true"></i></span>
						</div>
					</div>
					 <div class="row">
					    <div class="col">
					    <label for="billingState">Expiration Date</label>
						    <select class="form-control" name="expiryMonth" required="required" th:value="${userPayment.expiryMonth}">
								<option disabled="disabled">-- Month --</option>
								<option value="01">Jan (01)</option>
								<option value="02">Feb (02)</option>
								<option value="03">Mar (03)</option>
								<option value="04">Apr (04)</option>
								<option value="05">May (05)</option>
								<option value="06">June (06)</option>
								<option value="07">July (07)</option>
								<option value="08">Aug (08)</option>
								<option value="09">Sep (09)</option>
								<option value="10">Oct (10)</option>
								<option value="11">Nov (11)</option>
								<option value="12">Dec (12)</option>
						    </select>
					    </div>
					    <div class="col">
					    <label for="billingState">Expiration Year</label>
						    <select class="form-control" name="expiryYear" th:value="${userPayment.expiryYear}">
								<option disabled="disabled">-- Year --</option>
								<option value="2017">2017</option>
								<option value="2018">2018</option>
								<option value="19">2019</option>
								<option value="20">2020</option>
								<option value="21">2021</option>
								<option value="22">2022</option>
								<option value="23">2023</option>
								<option value="23">2024</option>
								<option value="23">2025</option>
								<option value="23">2026</option>
								<option value="23">2027</option>
								<option value="23">2028</option>
								<option value="23">2029</option>
						    </select>
					    </div>
					  </div>
					  <br/>
					  <div class="form-group">
					    <label for="formGroupExampleInput">CV Code</label>
					    <input id="cardCVC" type="number" class="form-control" name="cvc"
							placeholder="CVC" th:name="cvc"
							th:value="${userPayment.cvc}" />
					 </div>
					
					  
					  <button type="submit" class="btn btn-primary">Save All</button>
					</form>
					</div>
					
					
				  </div>
				  <div class="tab-pane fade" id="pills-shipping" th:classappend="${classActiveShipping}? 'show active'" role="tabpanel" aria-labelledby="pills-shipping-tab">
				  	<nav aria-label="breadcrumb">
					  <ol class="breadcrumb">
					    <li class="breadcrumb-item"><a th:href="@{/listOfShippingAddressesPage}" th:style="${listOfShippingAddresses}? 'color:black'">List of Shipping Addresses</a></li>
					    <li class="breadcrumb-item"><a th:href="@{/addNewShippingAddressPage}" th:style="${addNewShippingAddress}? 'color:black'">Add(Update) Shipping Address</a></li>
					    <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
					  </ol>
					</nav>
					
					<div th:if="${listOfShippingAddresses}">
					<div th:if="${updateUserPaymentInfo}" class="alert alert-success" role="alert">
					  User Shipping Info updated.
					</div>
					<div th:if="${deleteUserPaymentInfo}" class="alert alert-warning" role="alert">
					  User Shipping Info deleted.
					</div>
					<form th:action="@{/setDefaultShippingAddressPage}" method="post">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Default</th>
									<th>Shipping Address</th>
									<th>Operations</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="userShipping : ${userShippingList}">
									<td><input type="radio"
										name="defaultShippingAddressId"
										th:value="${userShipping.id}"
										th:checked="${userShipping.userShippingDefault}" /><span>default</span></td>
									<td
										th:text="${userShipping.userShippingStreet1}+', '+
									${userShipping.userShippingCity}+', '+${userShipping.userShippingState}"></td>
									<td><a
										th:href="@{/updateUserShippingPage(id=${userShipping.id})}"><i
											class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a
										th:href="@{/removeUserShippingPage(id=${userShipping.id})}"><i
											class="fa fa-times"></i></a></td>
								</tr>
							</tbody>
						</table>
						<button class="btn btn-primary" type="submit">Save</button>
					</form>
					</div>
					
					<div th:if="${addNewShippingAddress}">
					<form th:action="@{addNewShippingAddressPage}" method="post">	
					<input hidden="hidden" name="id" th:value="${userShipping.id}" />				
 					  <div class="row">
					    <div class="col">
					      <label for="shippingName">Name</label>
							<input type="text" class="form-control" id="shippingName"
								placeholder="Receiver Name" th:name="userShippingName"
								required="required"
								th:value="${userShipping.userShippingName}" />
					    </div>
					  </div>
					  <br/>
					  <div class="form-group">
					    <label for="shippingAddress">Street Address</label>
							<input type="text" class="form-control" id="shippingAddress"
							placeholder="Street Address 1" th:name="userShippingStreet1"
							required="required"
							th:value="${userShipping.userShippingStreet1}" /> 
							<input type="text" class="form-control"
							placeholder="Street Address 2" th:name="userShppingStreet2"
							th:value="${userShipping.userShippingStreet2}" />
					  </div>
					  <div class="form-group">
					    <label for="shippingCity">City</label>
						<input type="text" class="form-control" id="shippingCity"
							placeholder="Shipping City" th:name="userShippingCity"
							required="required"
							th:value="${userShipping.userShippingCity}" />
					  </div>
					   <div class="form-group">
						    <label for="shippingState">State</label>
						    <select id="shippingState" class="form-control"
							th:name="userShippingState" th:value="${userShipping.userShippingState}"
							required="required">
							<option value="" disabled="disabled">Please select an option</option>
							<option th:each="state : ${stateList}" th:text="${state}" th:selected="(${userShipping.userShippingState}==${state})"></option>
						    </select>
						</div>
					 <div class="form-group">
					    <label for="shippingZipcode">PostCode</label>
 							<input type="text" class="form-control" id="shippingZipcode"
								placeholder="Shipping Postcode"
								th:name="userShippingZipcode" required="required"
								th:value="${userShipping.userShippingZipcode}" />
					  </div>

					  <button type="submit" class="btn btn-primary">Save All</button>
					</form>
					</div>
					
				  </div>
				</div>
				</div>
			</div>
		</div>
	</section>	

<div th:replace="common/headertemplate :: bookstore-footer" />

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/select2/select2.min.js}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script>
	  $('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script th:src="@{/js/map-custom.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/js/main.js}"></script>
		<script>
/* 	$(document).ready(function() {
		$("#" + "contactPage").addClass('active-menu');
	});  */
	</script>

</body>
</html>